<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>|Date|</th>
      <th>|Number of people who can fit on the flight|</th>
      <th>|Destination|</th>
      <th>|Number of people travelling|</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.date %></td>
        <td><%= flight.number_of_people_fit %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.people.count %></td>
        <% if flight.date < Date.today %>
          <td>Flight has already departed</td>
        <% else %>
          <% if (flight.number_of_people_fit-flight.people.count) > 0 %>
            <td><%= link_to 'Add passenger', new_flight_person_path(flight.id) %></td>
          <% else %>
            <td>Flight is full</td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Flight', new_flight_path %>
